.grid{
    display: grid;
    padding: 20px 20px;
    gap: 9.6rem 6.4rem;
    margin: 120px;
}
.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.grid-2 img{
    width: 45%;
    align-self: center;
}
  .step-img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .step-img-box::before,
  .step-img-box::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .wen-container{
    display: flex;
    flex-direction:column ;
  }
  .wen{
    font-size: 32px;
    font-weight: bold;
  }
  .zi{
    font-size: 18px;
    font-family:"Noto Sans SC";
  }
  .icon-geren2,.icon-wofadetiezi,.icon-shiwuzhaoling,.icon-kechengbiao,.icon-mybook-full,.icon-ERP_gongzuo,.icon-liwu{
    font-size:45px;
  }
  .icon-liwu{
    color: #dc2626;
  }
  .icon-shiwuzhaoling,.icon-kechengbiao{
    color: #957d5a;
  }
  .step-img-box::before {
    width: 80%;
    /* height: 60%; */
  
    /* 60% of parent's width */
    padding-bottom: 80%;
  
    background-color: #b3dcdc;
    z-index: -2;
  }
  
  .step-img-box::after {
    width:60%;
    padding-bottom: 60%;
    background-color: #80c5c5;
    z-index: -1;
  }

  .step-img-box1::before {
    width: 80%;
    /* height: 60%; */
  
    /* 60% of parent's width */
    padding-bottom: 80%;
  
    background-color: #eae1d4;
    z-index: -2;
  }
  
  .step-img-box1::after {
    width:60%;
    padding-bottom: 60%;
    background-color: #d6c4a9;
    z-index: -1;
  }
  .step-img-box2::before {
    width: 80%;
    /* height: 60%; */
  
    /* 60% of parent's width */
    padding-bottom: 80%;
  
    background-color: #fee2e2;
    z-index: -2;
  }
  
  .step-img-box2::after {
    width:60%;
    padding-bottom: 60%;
    background-color: #fecaca;
    z-index: -1;
  }